/** @format */
.hookFormContainer {
  height: 100vh;
  background: #514b4b;
}
.hookForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
  gap: 10px;
}
