.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.form input {
    height: 50px;
    font-size: 30px;
}

.formButton {
    height: 50px; 
    background: rgb(112, 111, 111);
    color: bisque;
    font-size: 25px;
}

.formButtonDisabled {
    height: 50px; 
    font-size: 25px;
}

.valid {
    border: 3px solid green;
}

.invalid {
    border: 3px solid red;
    color: red;
}